@charset "utf-8";
/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* header */

body {
	background-color: #E4E4E4;
}

header {
	width: 100%;
    background-color: rgba(66,66,66, 0.98);
    height: 100px;
    position: fixed;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

button:focus, input:focus, textarea:focus, select:focus {
	outline:none;
}

.site-logo {
	color: #FFF;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
	font-family: serif;
}

.search-form {
	margin: 10px auto;
}

.admin-logo {
	background-color:rgba(177,177,177,1.00);
    color: #484848;
    width: 70px;
    text-align: center;
    font-family: Century Gothic;
    font-weight: bold;
    margin: 0px auto 10px auto;
    border-radius: 3px;
}

.search-input {
	background-color: #cacaca;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    padding: 3px 10px;
    font-family: Century Gothic;
    font-weight: bold;
	color: #3E3E3E;
	transition: 0.3s all;
}

.search-input:hover {
	background-color:#D8D8D8;
}

.search-input:focus {
	border: 1px solid #949494;
	background-color: #DFDFDF;
}

.search-submit {
	border: none;
    color: #5d5d5d;
    background-color: rgba(255, 255, 255, 0);	
	cursor: pointer;
	padding: 5px;
    border-radius: 100%;
	transition: 0.3s all;
}

.search-submit:hover {
	background-color: #E4E4E4;
}

.account-button {
	margin: -20px 5px 0px 0px;
    float: right;
    border: none;
    padding: 2px 5px;
    border-radius: 3px;
    color: #FFF;
    font-size: 18px !important;
    background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
	font-family: Segoe UI Semibold;
	transition: 0.3s all;
}

.account-button:hover {
	background-color: rgba(255,255,255,0.20);
}

.menu-button {
	margin: -18px 0px 0px 10px;
    float: left;
    border: none;
    border-radius: 3px;
	padding: 1px 3px;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
	font-family: Century Gothic;
	font-weight: bold;
	transition: 0.3s all;
}

.menu-button:hover {
	background-color:rgba(255,255,255,0.20);
}

.sidenav-menu-links {
	display: block;
    padding: 10px 0px 10px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: #FFF;
    border: none;
    font-family: Segoe UI Semibold;
    font-size: 15px;
    cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
}

.sidenav-menu-links:hover {
	background-color: rgba(255, 255, 255, 0.3);
    padding-left: 30px;
}

.sidenav-menu-sublinks {
	display: block;
	padding: 5px 0px 5px 30px;
    width: 100%;
    background-color:rgba(255,255,255,0.60);
    text-align: left;
    color: #454545;
    border-left: 5px solid #bb2e2e;
    font-family: Segoe UI Semibold;
    font-size: 13px;
    cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
}

.sidenav-menu-sublinks:hover {
	background-color: rgba(255, 255, 255, 0.5);
    padding-left: 35px;
}

.active-sidenav-sublinks {
	background-color: rgb(69, 69, 69) !important;
    color: #FFF !important;
    border-left: 20px solid #bb2e2e !important;
    padding-left: 15px !important;
}

.active-tab-sidenav {
	cursor: default !important;
	background-color: rgba(255, 255, 255, 0.84) !important;
    color: #454545 !important;
    border-left: 5px solid #bb2e2e !important;
	padding-left: 25px !important;
}

.sidenav-menu {
	position: fixed;
    z-index: -1;
	float: left;
	background-color: #565555;
    width: 20%;
	overflow-x: hidden;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	transition: all 0.5s;
}

.page-body-holder {
	padding-top: 100px;
}

.page-contents {
	float: right;
	width: 80%;
	transition: all 0.5s;
}

.page-title {
	background-color: #E2E2E2;
    border-bottom: 2px solid #BB2E2E;
    color: #484848;
    font-family: Arial Black;
	font-weight: normal;
	text-transform: uppercase;
    padding: 10px 0px 10px 17px;
    display: block;
}

/*.page-options-links {
	font-family: Segoe UI Semibold;
    text-decoration: none;
    background-color: #ffffff;
    border-bottom: 2px solid #FFF;
    color: #2E2E2E;
    padding: 4px 9px 11px 9px;
    margin-right: 5px;
	transition: all 0.3s;
}

.page-options-links:hover {
	padding: 4px 9px 4px 9px;
	border-bottom: 2px solid #c73434;
}

.active-page-option {
	cursor: default;
	padding: 4px 9px 4px 9px;
	border-bottom: 2px solid #c73434;
	color: #c73434;
}

.page-options-holder {
	background-color: #FFF;
    padding: 10px 20px;
	height: 22px;
	overflow-y: hidden;
}*/

.page-option-view {
	background-color: #f7f7f7;
	padding: 10px;
	font-family: Segoe UI;
}

.main-label-text {
	font-weight: bold;
}

.input-box-fill {
	font-size: 15px;
    margin-left: 10px;
    padding: 4px 9px;
    font-family: Segoe UI;
    background-color: #cacaca;
    border: 1px solid #cacaca;
	transition: all 0.3s;
	border-radius: 3px;
	resize: none;
}

.input-box-fill:hover {
	background-color:#E5E5E5;
}

.input-box-fill:focus {
	background-color:#E5E5E5;
	border: 1px solid #454545;
}

.submit-search-button {
	font-size: 15px;
    margin-left: 10px;
    padding: 4px 9px;
    font-family: Segoe UI;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #6d6d6d;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3px;
}

.submit-search-button:hover {
	background-color: rgba(0,0,0, 0.5);
	color: #FFF;
}

.submit-input-button {
	display: block;
	margin: auto;
	background-color: rgba(255,255,255,0.0);
	border:1px solid rgba(69,69,69,0.3);
	font-family: Segoe UI Semibold;
	border-radius: 15px;
	font-size: 18px;
	color: #454545;
	padding: 3px 15px;
	text-align: center;
	cursor: pointer;
	transition:0.3s all;
}

.submit-input-button:hover {
	border:1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.8);
}

.input-box-label {
	padding-left: 170px;
}

.browse-users-table {
	width: 100%;
    text-align: center;
	border-collapse: collapse;
}

.browse-users-options-btn {
	text-decoration: none;
    border: 1px solid #0a8bb3;
    color: #178baf;
    padding: 3px 5px;
	cursor: pointer;
    transition: all 0.3s;
}

.browse-users-options-btn:hover {
	color: #FFF;
	background-color: #0a8bb3;
}

.browse-filter-headers {
	text-align: center;
	font-weight: normal;
}

h4.browse-filter-headers {
	font-family: Segoe UI Semibold;
	padding: 5px 0px;
}

.browse-filter-choices {
	font-family: Segoe UI Semibold;
    padding: 3px 5px;
    border: 1px solid #454545;
    cursor: pointer;
    background-color: rgba(0,0,0,0.00);
    transition: all 0.3s;
}

.browse-filter-choices:hover {
	background-color:  rgba(0,0,0,0.30);
}

.browse-filter-div {
	background-color: #cacaca;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.canvas-chart-holder {
	width: 50%;
	margin: auto;
}

.label-select-stat {
    font-family: Segoe UI Semibold;
    display: block;
    text-align: center;
}

.select-change-input {
	border: none;
    background-color: #dedede;
    padding: 3px 5px;
    font-family: Segoe UI;
}

.lib-group, .rec-group {
	display: none;
	transition: all 0.3s;
}

.pagination-links{ /* the div for $this->pagination->create_links() */
    margin: 30px 0;
}

.pagination-links strong{ /* style for active links */
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
    font-size: 1.5em;
}

a.pagination-link{     /* style for inactive links */
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
    color: black;
    text-decoration: none;
    font-size: 1em;
}
